/*webkit-sassui-line Start*/
.webkit-sassui-line {
  border-bottom-width: 0.55px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

.webkit-sassui-line,
.webkit-sassui-line .style-solid, .webkit-sassui-line[data-style="solid"] {
  border-bottom-style: solid;
}

.webkit-sassui-line .style-dashed, .webkit-sassui-line[data-style="dashed"] {
  border-bottom-style: dashed;
}

.webkit-sassui-line .style-dotted, .webkit-sassui-line[data-style="dotted"] {
  border-bottom-style: dotted;
}

/*webkit-sassui-line End*/
.c-red {
  color: #f00;
}

.c-gray {
  color: #ccc;
}

.c-green {
  color: #080;
}

.blank-20 {
  height: 20px;
}

.webkit-sassui-line {
  margin-bottom: 20px;
}

.test-webkit-sassui-line {
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid red;
}
