/*wsui-layout-fixed-sidebar Start*/

@mixin wsui-layout-fixed-sidebar($in-width: 200px) {
  > .is-sidebar {
    width: $in-width;
    position: fixed;
    left: 0;
    top: 0;
  }

  &[data-placement="left"] {
    margin-left: $in-width;
  }

  &[data-placement="right"] {
    margin-right: $in-width;
  }
}
/*wsui-layout-fixed-sidebar End*/
