/*webkit-sassui-line Start*/
$webkit-sassui-line-options: (
  value: 0.55px
) !default;

.webkit-sassui-line {
  $value: map-get(
    $map: $webkit-sassui-line-options,
    $key: value
  );

  border-bottom-width: $value;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both;

  &,
  .style-solid,
  &[data-style="solid"] {
    border-bottom-style: solid;
  }

  .style-dashed,
  &[data-style="dashed"] {
    border-bottom-style: dashed;
  }

  .style-dotted,
  &[data-style="dotted"] {
    border-bottom-style: dotted;
  }

}
/*webkit-sassui-line End*/
